{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}

<button type="button" class="btn btn-info">
<a class="dropdown-item" href="{{ path('app_login') }}">Login</a>
</button>   
{% endblock %}
