{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<h1>MAIN CONTROLLER - MAIN HOME</h1>
<p>mettre ici le login pour l'admin et accéder au crud</p>
{% endblock %}
