
h1{
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color:white;
  transition: 1s;
}

.container{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.center-page{
  width: inherit;
}

.btn {
  width: 30vh;
}

form.form-login {
  gap: 0.7rem;
  display: flex;
  flex-direction: column;

}